* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
}

header, footer {
    font-size: 1rem;
}
 
.content {
    height: 88vh;
    overflow-y: auto;
    /* background-image: linear-gradient(#F0E3C0, #8BADA3, #3B6670); */
}

.App {
    height: 100vh;
}

.fishInfo-flex {
    display: flex;
    flex-direction: row;
}

.fishInfo-body {
    font-size: 1rem;
}

.fishInfo-actionList {
    float: right;
    position: relative;
    top: -90px;
    display: flex;
    flex-direction: column;
}

.fishListItem button, #addFishBtn {
    font-size: 1rem;
}

.fishPortrait {
    min-width: 200px;
    min-height: 200px;
    height: 200px;
    width: 200px;
    margin: 0 25px 15px 0; 
}

.aquariumFieldEditor, .fishFieldEditor, .aquariumConflictViewer {
    width: 35vw;
}

@media (min-width: 1000px) {
    .fishInfo-actionList {
        right: 5px;
    }
}

@media (min-width: 1400px) {
    .fishInfo-actionList {
        right: 95px;
    }
}

@media (min-width: 1550px) {
    .fishInfo-actionList {
        right: 157.5px;
    }
}

@media (max-width: 750px) {
    .fishInfo-flex {
        display: flex;
        flex-direction: column;
    }

    .fishPortrait {
        margin: 15px auto;
    }

    .fishInfo-body p {
        margin: auto auto;
    }

    .aquariumFieldEditor, .fishFieldEditor, .aquariumConflictViewer {
        width: 75vw;
    }
}

@media (max-width: 430px) {
    footer {
        font-size: 0.70rem;
    }
}

@media (max-width: 375px) {
    header {
        font-size: 0.75rem;
    }

    .fishInfo-body {
        font-size: 0.75rem; 
    }

    .fishInfo-nameAndActions {
        display: flex;
        flex-direction: column;
    }

    .fishInfo-actionList {
        display: flex;
        flex-direction: column;
        position: static;
        margin: auto auto;
        float: none;
    }

    .fishListItem button, #addFishBtn {
        font-size: 0.75rem;
    }

    .fishPortrait {
        min-width: 150px;
        min-height: 150px;
        height: 150px;
        width: 150px;
    }

}